@font-face {
    font-family: "TrebuchetMS";
    src: url("./trebuc.ttf") format("truetype"),
        url("./Trebuchet-MS-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
